* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 60%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(
    to top left,
    #1d53c8 0%,
    rgb(11, 223, 174) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

/* layout */

main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(236, 225, 225, 0.353);
  backdrop-filter: blur(200px);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}
